.grande{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    border: 2px solid black;
    background-color: rgb(144, 207, 241);

}
.titulo{
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 10px;
}
.salario{
    margin-left: 25%;
    margin-bottom: 3%;
}
.borde{
    border: 2px solid black;
    border-radius: 5%;
    margin: 1%;
    background-color: rgb(162, 236, 236);

}
label{
    height: 30px;
    padding: 2px;
    color: #010101;
    text-align: center;
     
}
input{
    height: 30px;
    padding: 1px;
}
.puntos{
    text-align: center;
    margin-bottom: 3%;

}
.centrar{
    text-align: center;
    margin-bottom: 3%;
}
.foto{
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    width: 155px; 
    height: 115px;
}
.botonfoto{
    background-color: rgb(104, 152, 241);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5%;
}
.inputtamaño{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-left: 2%;

}
.tituformu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 10px;
    height: 30px;
    margin-left: 2%;
}
.estilomodal{
    background-color: rgb(151, 243, 243);
   
}
th,td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}
#datoe{
    background-color: rgb(144, 207, 241);
}
.tituadivinador{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 5%;
}
.botonjugar{
    background-color: rgb(104, 152, 241);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5%;
    margin-left: 33%;
}
.botongenerar{
    background-color: rgb(104, 152, 241);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5%;
    
}